extends layout

block content
    h1 Coding task!
    p Coding task for #{token}
    p Prepare yourself, once you follow the link below you will have 30 minutes to complete!
    a(href=`/${token}/start`) START
